/*css for navbar*/

* {
    font-family: barlow, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 70px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 24px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 21px;
    font-weight: 600;
    font-family: calibri;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    gap: 21px;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

/*css for selected menu*/
.selectedmenu .nav-link 
{
	text-decoration: underline;
  text-decoration-color: #52BDEA;
  color:#52BDEA !important;
}

.sticky-top {
    z-index: 1030; /* Bootstrap's default z-index for sticky elements */
}

/*css for navbar gap*/
.MenuGap
{
width:600px;	
}

/* Media query for mobile */

@media screen and (max-width: 991px) {
    .nav-links {
		list-style: none;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 58px;
		left: -100%; /* Initially off-screen to the left */
		width:50%;
		padding: 20px;
		box-sizing: border-box;
		transition: left 0.5s ease-in-out; /* Add transition */
	}
	
	.nav-links.active {
		left: 0; /* Slide into view */
	}
	
    .burger {
        display: flex;
	}
	
    .line1.rotate-down {
        transform: translateY(8px) rotate(-45deg);
	}
	
    .line2.fade-out {
        opacity: 0;
	}
	
    .line3.rotate-up {
        transform: translateY(-8px) rotate(45deg);
	}
}

/***css for scroll to top**/

#myScrollToTopBtn {
	display: none;  /*Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: white; /* Set a background color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 10px; /* Some padding */
	border-radius:50%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*CSS for preloader*/
#preloader
{
	background:white url(Images/preloaderimg.gif) no-repeat center center;
	background-size:60%;
	height:100vh;
	width:100%;
	position:fixed;
    z-index: 9999; /* ensure it's above all other content */
    display: flex;
}

/**CSS FOR Counter bloack**/

.CounterBackgroundImage
{
	background-image: url('Images/WorkCounter.png');
	background-size: cover;
	
}
.CounterOverlay{
	padding:60px 160px;
	color: white;
	background-color:#0009;
}

/*CSS for upper header icon*/
.UpperHeaderLink {
    color: white; /* Default link color */
    text-decoration: none; /* Remove underline */
}
.UpperHeaderLink:hover {
    color: white; /* Default link color */
}
/*Css for about page counter*/
.AboutCounterCard
{
	color:white;
}

.AboutCounterCard:hover
{
	cursor:pointer;
}

/*css for course card*/

.CourseCard
{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.CourseCard h6
{
	text-align:justify;
	margin-top:20px;
}


.CourseCard:hover
{
	background:#1D1F58;
	color:white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*css for line height*/
h6
{
line-height:27px;
word-spacing:4px;
}
h4
{
line-height:30px;	
}
/*css for college infrastructure*/
.CollegeInfra
{
border:none;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.CollegeInfraImg
{
	height:80px;
	width:80px;
	border-radius:50%;
	background-color:#e6fcfc;
	margin-bottom:20px;
}

.CollegeInfraImg img
{
	height:40px;
	width:40px;
	margin-top:20px;
	margin-left:20px;
}

/*css for footer social icons*/
.socialicon {
  font-size: 20px;
  padding-top:5px;
  width: 30px;
  height:30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  background-color:white;
  color:#1D1F58;
}

.socialicon:hover {
	background-color:white;
    color:#024745;
	transform: rotate(360deg);
	transition: transform 360ms ease-in-out;
}

/*css for footer navigation*/
.foterlink
{
font-size: 19px;
font-weight: 600;
padding-right: 10px;
padding-left: 2px;
}
.f-nav {
	display: grid;
}
.f-nav a{
	margin-bottom: 7px !important;
}
.f-nav a:hover{
	color:white !important;
}

/*css for footer anchor tag*/
a
{
	text-decoration:none;
	color:white;
}

/*css for upper navbar font*/
@media(max-width:979px)
{
.uppernavbar
{
	display:none;
}
}

/*media query of work counter*/
@media(max-width:979px)
{
	.CounterOverlay{
		padding:60px 120px;
		color: white;
		background-color:#0009;
	}  
}
@media(max-width:839px)
{
	.CounterOverlay{
		padding:60px 80px;
		color: white;
		background-color:#0009;
	}  
}
@media(max-width:449px)
{
	.CounterOverlay{
		padding:60px 40px;
		color: white;
		background-color:#0009;
	}  
}
/*media query for navbar*/


@media (max-width: 743px) {
	 .navbar {
		 padding: 10px 40px;
}
}

@media (max-width: 500px) {
	.navbar {
		 padding: 10px 10px;
}
}

/*css for gallery*/
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 0px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
	}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 20px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
  .tz-gallery .lightbox:after{
	  position:relative;
  }
@media(max-width: 768px) {
    .container.gallery-container {
  
    padding: 50px 10px;
}
}


